﻿/*
Theme Name: Nineteen
Theme URI: https://weblizar.com/nineteen/
Author: Weblizar
Author URI: http://weblizar.com/
Description: The Multipurpose WordPress Theme suitable for Business , corporate office and others .Cool Blog Layout and full width page also present and even let’s you customize the layout just, Navigate to Appearance > Customize to start personalizing Nineteen.
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Version: 1.1.3
Tested up to: 5.5
Requires PHP: 7.0
Tags:  two-columns, custom-menu, right-sidebar, custom-background, featured-image-header, sticky-post, threaded-comments, featured-images, blog, entertainment, e-commerce
Text Domain: nineteen

Nineteen WordPress Theme has been created by Weblizar( http://weblizar.com/), 2019.
Nineteen WordPress Theme is released under the terms of GNU GPL
*/
/**
*
* TABLE OF CONTENT
# Basic Style
# Accessibility
# Sticky post

*
*/
/* Basic Style */
.wp-caption-text,
.sticky,
.gallery-caption,
.bypostauthor {}

img.alignright {float:right; margin:0 0 1em 1em}
img.alignleft {float:left; margin:0 1em 1em 0}
img.aligncenter {display: block; margin-left: auto; margin-right: auto}
a img.alignright {float:right; margin:0 0 1em 1em}
a img.alignleft {float:left; margin:0 1em 1em 0}
a img.aligncenter {display: block; margin-left: auto; margin-right: auto}
/* Basic Style */

/* Accessibility */
/* Text meant only for screen readers. */
.skip-link.screen-reader-text {
  display: block;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
  /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.skip-link.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  clip-path: none;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-weight: bold;
  height: auto;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: max-content;
  z-index: 100000;
  /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
  outline: 0;
}

.main-navigation ul ul {
    float: left;
    position: absolute;
    top: 100%;
    left: -999em;
    z-index: 99999;
    min-width: 100%;
}
.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
    left: 100%;
}

.main-navigation ul ul a {
    width: 251px;
}
.main-navigation .collapse.show ul ul a {
    width: auto;
}
.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
    left: auto;
}
/* Small menu. */
@media screen and (min-width: 993px) {
    
    .main-navigation ul {
        display: flex;
    }
}
/* Sticky post */
.tag-sticky-2,.sticky { 
background-color:#ededed;
border:1px solid #f5f5f5;
color:#272727;
padding:5px;
}

@media screen and (max-width: 767px){
.toggled .nav-menu{
  display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.toggled .navbar-collapse {
  display: block !important;
}
.main-navigation ul li.menu-item-has-children:hover > .dropdown-menu, .main-navigation ul li.focus > .dropdown-menu {
    position: relative !important;
    left: 0;
    display: block;
}
.main-navigation ul ul a {
    width: auto;
}
.menu-toggle,
.main-navigation.toggled ul {
    display: block;
}}