body{
    font-family: MontserratLight;
}

.section-heading, .section-title,body  h1, body  h2, body h3 {
    font-family: MontserratRegular;
}


.white .section-title:after {
  background-color:#fff;
}
.white .section-title{
  color: #fff;
}
.white .section-description {
  color: #fff;
}

.We_are_all_about_the__customer_and_their__busin {
  font-size: 36px;
  font-family: "Montserrat";
  color: rgb( 135, 136, 137 );
  line-height: 1.667;

}

.section-title {
  font-size: 48px;
  color: rgb( 37, 36, 36 );
  font-weight: bold;
  line-height: 1.25;
    text-transform: capitalize;
    font-weight: 600;
    position: relative;
    padding-bottom: 26px;
    margin-bottom: 30px;
}
.col-cases_img.nav-link {
  color: #fff;
}

.section-description {
    color: #939393;
    font-style: italic;
    font-weight: 300;
    font-family: OpenSansLight;
    font-size: 32px;
}
.error404 h2.section-description {
    color: #1f1d35;
    font-style: italic;
    font-weight: 900;
    font-family: OpenSansLight;
    font-size: 66px;
}
.error404 .section-heading a.btn.main-btn {
    margin-top: 2%;
}
.error404 .section-heading h4
{
  font-size: 27px;
}

.section-title:after {
    content: '';
    position: absolute;
    width: 100px;
    bottom: 0;
    margin: 0 auto;
    right: 0;
    left: 0;
    height: 5px;
    z-index: 1;
    background-color: var(--main-color);
}
:root {
    --main-color: #f45f47;
}

.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6, .col-sm-7,.col-sm-8,.col-sm-9,.col-sm-10, .col-sm-11,
.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6.col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11{
  float:left!important;
}


/*--css--*/
.header-topbar {
    color: #fff;
}
.select_lng {
    text-align: right;
  position: relative;
}
header {
    position: relative;
    z-index: 99;
}
header .dropdown-item.active, header .dropdown-item:active,
.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus {
    color: var(--main-color);
    text-decoration: none;
    background-color: transparent;
}

.select_lng .form-control {
  display: initial;
     width: auto;
    height: auto; 
     padding:auto; 
   padding:0;
}

.dropdown-menu.active{
  color: var(--main-color);
  border-bottom:1px solid var(--main-color);
}
.select_lng select {
    background: transparent;
    border: 0;
    color: #fff;
}
.select_lng .form-control:focus {
    color: #ffffff;
    background-color: #fff0;
    border-color: #80bdff;
    outline: 0;
    border: 0;
    box-shadow: none;
}
.select_lng select option{
color:#333;
}

.header_banner{
  position: relative;
}
nav.navbar.navbar-expand-sm{
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
  z-index:99;
  padding:0;
}
.navbar-toggler .navbar-toggler-icon  {
  width: auto;
    height: auto;
}
.select_lng i.fas.fa-angle-down {
    font-size: 18px;
  display:none;
}
.navbar-toggler:not(:disabled):not(.disabled) {
    cursor: pointer;
    background: var(--main-color);
    padding: 5px 10px;
    line-height: 22px;
    margin-right: 15px;
    color: #fff;

}
.header_banner:before{
  background-color:#333;
  opacity:0.9;
  content:'';
  position:absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
}

.head_topbar-row>.col-md-10 {
    padding: 0;
}
.navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
    color: #fff;
    font-weight: 400;
    font-size: 20px;
    padding: 13px 15px !important;
}
.navbar-nav .dropdown-menu .dropdown-menu{
  
    top: 0;
}
.navbar-nav .dropdown-menu .nav-link {
    padding: 8px 10px!important;
    font-size: 18px;
}
.navbar-nav .dropdown-menu .nav-link:hover.
.navbar-nav .dropdown-menu .nav-link:focus {
     color:#fff!important;
}

header .dropdown-menu .dropdown-item.active, header .dropdown-menu .dropdown-item:active, 
.navbar-nav .dropdown-menu .nav-link:hover, 
.navbar-nav .dropdown-menu .nav-link:focus {
    color:#fff!important;

  }

  .navbar-containernt .dropdown-menu .nav-item:hover:after,
  .navbar-containernt .dropdown-menu .nav-item:focus:after, 
  .navbar-containernt .dropdown-menu .nav-item.active:after {
    display: none;
}
.navbar-nav .dropdown-menu {
  background-color:var(--main-color)!important;
  margin-left: 15px;
}

.navbar-nav .dropdown-item{
    color: #000000;
    font-size: 16px;
}
.navbar-nav .nav-link:hover ,
.navbar-nav .dropdown-item:hover,
.navbar-nav .nav-link:focus ,
.navbar-nav .dropdown-item:focus{
  color:var(--main-color);
}
.swiper_caption {
    text-align: center;
    color: #fff;
}

/*dd .swiper-container.home_slider:before {
    content: '';
    position: absolute;
    background: linear-gradient(180deg, #000 , 24%, #ffffff00 45%);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9;
    opacity: 0.8;
} */
.swiper_caption h1 {
    font-size: 65px;
    text-shadow: 0px 0px 0px #fff;
    font-weight: bold;
    letter-spacing: 2px;
  margin-bottom:40px;
}

.swiper_caption p {
    font-size: 22px;
    padding-bottom: 40px;
}

.info_header-box {
    text-align: center;
}
ul.nav.justify-content-center {
    margin: 0 auto;
}
.info_header-box i {
    padding-right: 6px;
    font-size: 20px;
}
a.navbar-brand {
    font-size: 60px;
    margin: 0px;
    line-height: 30px;
    font-weight: bold;
  color:#fff;
  margin-bottom:15px;
}
.container.navbar-containernt {
    border-bottom: 1px solid rgba(206, 206, 206, 0.37);
    min-height: 110px;
}
.navbar-expand-sm .navbar-nav .dropdown-menu {
    z-index: 99999999;
  border-radius: 0!important;
}
li.nav-item {
    position: relative;
}
.navbar-containernt .nav-item:after,.navbar-containernt .nav-item.active:after {
    content: '';
    background-color: var(--main-color);
    height: 2px;
    position: absolute;
    bottom: -27px;
    z-index: 99;
    left: 0;
    width:10%;
  opacity:0;
  transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}
.navbar-containernt .nav-item:hover:after,
.navbar-containernt .nav-item:focus:after, 
.navbar-containernt .nav-item.active:after{
    content: '';
  width:100%;
  right: 0;
  opacity:1;
  transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}


.head_feedbck .search_btn{
    color: rgb( 255, 255, 255 );
    padding: 30px;
  font-size: 18px;
}
.head_feedbck .search_btn:hover,
.head_feedbck .search_btn:focus{
  text-decoration:none;
  color:#f2f2f2;
}

.content-center{
  display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  height:100%;
}

/*--btn-css--*/


/*--btn-css--*/
[class^="swiper-button-"] {
  transition: all .3s ease;
}

.swiper-slide {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.home_slider .swiper-slide:after{
  content:'';
  position:absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
  background-color:#000;
  opacity:0.5;
  z-index:1;
}

.header_banner .swiper-container{
  width: 100%;
  float: left;
  max-height: 840px;
  transition: opacity .6s ease, -webkit-transform .3s ease;
  transition: opacity .6s ease, transform .3s ease;
  transition: opacity .6s ease, transform .3s ease, -webkit-transform .3s ease;
}
.swiper-container.nav-slider {
  max-height:200px;
  overflow:hidden;
  position:absolute;

    display: block;
    margin: 0 auto;
    left: 0;
    right: 0;
  max-width: 1140px;
}
.swiper-thumbs {
    display: block;
    float: left;
  bottom:0;
  background: rgba(0, 0, 0, 0.611764705882353);
    bottom: 0;
    height: 200px;
    position: absolute;
    width: 100%;
    z-index: 99;
}
.swiper-container.nav-slider .content{
  top:40%;
}

.swiper-container.nav-slider .swiper-slide {
  cursor: pointer;
  opacity: .9;
  transition: opacity .3s ease;
}
.swiper-container.nav-slider .swiper-slide.swiper-slide-active {
  opacity: 1;
}
.swiper-container.nav-slider .swiper-slide .content {
  width: 100%;
}
 .swiper-slide .content p{
   font-family:OpenSansLight!important;
   font-size:24px!important;
 }
.nav-slider .swiper-slide .content .title {
  font-size: 20px!important;
    text-shadow: none;
    font-weight: bold;
}
.home_slider .swiper-slide{

    position: relative;
    z-index: 99;
}

.nav-slider .swiper-slide-active  .content{
  width: 100%;
    border-bottom: 2px solid;
    margin: 0px 15px;

}
.nav-slider .swiper-slide .content{
    color:#fff;
}
.nav-slider .swiper-slide-active  .content,
 .nav-slider .content:hover,
 .nav-slider .content:focus{
  color:var(--main-color)!important;
}

.swiper-container:hover .swiper-button-prev,
.swiper-container:hover .swiper-button-next,
.swiper-container:focus .swiper-button-prev,
.swiper-container:focus .swiper-button-next {
  -webkit-transform: translateX(0);
          transform: translateX(0);

  opacity: 1;
  visibility: visible;
}
.swiper-container.loading {
  opacity: 0;
  visibility: hidden;
}
.slide-bgimg img{
  width:100%;

}
.swiper-slide {
  overflow: hidden;
}
.swiper-slide .slide-bgimg {
 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-bottom: 0!important;
  background-position: center;
  background-size: cover;
}
.swiper-slide .entity-img {
  display: none;
}
.main-slider .swiper-slide .content {
  position: absolute;
  top: 26%;
  left: 0;
  right:0;
  margin:0 auto;
  max-width:1140px;
  color: #fff;
  z-index:99;
}

.main-slider .swiper-slide .content .title {
    font-size: 4.6em;
    font-weight: bold;
    text-shadow: 2px 2px 2px #000;
    margin-bottom: 30px;
  text-transform: capitalize;
}
.main-slider  .swiper-slide .content .caption {
  display: block;
  font-size: 20px;
  line-height: 1.4;
  -webkit-transform: translateX(50px);
  transform: translateX(50px);
  transition: opacity .3s ease, -webkit-transform .7s ease;
  transition: opacity .3s ease, transform .7s ease;
  transition: opacity .3s ease, transform .7s ease, -webkit-transform .7s ease;
}
.swiper-slide .content .caption.show {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
}

[class^="swiper-button-"] {
  width: 44px;
  opacity: 0;
  visibility: hidden;
}

.swiper-button-prev {
  -webkit-transform: translateX(50px);
          transform: translateX(50px);
}

.swiper-button-next {
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
}

.swiper-container.main-slider.loading{
  background-color:red;
}

/*--our-services--*/
/*--our-classes--*/

.bg-1{
    background-color: var(--main-color);
}
.bg-2{
    background-color:#1f1d35;
}

.margin-40{
  height:40px;
}
.margin-60{
  height:60px;
}
.margin-80{
  height:80px;
}
.margin-100{
  height:100px;
}
.margin-110{
  height:110px;
}
.margin-auto{
  margin:0 auto!important;
  float: none!important;
}
.btn_b2 a.btn.main-btn{
    padding: 12px 40px;
    box-shadow: none;
    text-transform: uppercase;
    min-width: 200px;

}
.btn.main-btn {
    background: var(--main-color);
    font-size: 17px;
    padding: 15px 30px;
    border: 0;
    border-radius: 37px;
    color: #fff;
    box-shadow: 2px 2px 15px #dddddd;
  border: 1px solid transparent!important;

}
.btn.main-btn:hover,
.btn.main-btn:focus {
  background: #fff;
  color:var(--main-color);
  border-color:#ccc!important;
  border: 1px solid #bebebe!important;
}
a.btn.main-btn.white {
    background-color: #fff;
    color:var(--main-color);
    box-shadow: none;
    border: 1px solid #bebebe!important;
}
a.btn.main-btn.white:hover,
a.btn.main-btn.white:focus{
    background-color: var(--main-color);
    color:#fff!important;
    box-shadow: 2px 2px 10px #ccc;
}

/*--our-classes--*/
/*--about-section--*/
.about-catipon-inner {
    border: 2px solid var(--main-color);
    margin: 20px;
    padding: 30px;
    height: 100%;
  border-radius:4px;
    display: table;
}
.col-md-12.about-catipon .about-catipon-inner{
      width: 100%;
}
.about-catipon a.btn.main-btn {
    text-transform: uppercase;
    box-shadow: 4px 5px 14px #c5c2c2;
}
.about-catipon-inner h4 {
    text-align: center;
    font-size: 36px;
    font-weight: 400;
    font-family: "Montserrat";
    color: rgb( 135, 136, 137 );
    line-height: 1.667;
    margin-bottom: 40px;
}

.about-img-inner {

    padding: 40px;
  position:relative;
}

.about-img-inner:after, 
.about-img-inner:before{
  content:'';
  position:absolute;
  width:60%;
  height:60%;
  background-color:var(--main-color);
}

.about-img-inner:after{
  left:0;
  top:0;
}
.about-img-inner:before{
  right:0;
  bottom:0;
} 
.about-img-inner iframe.video, .about-img-inner  img{
  position:relative;
  z-index:9;
  border:0;
  
}
.about-img-inner iframe.video.col-md-12 {
    position: relative;
    z-index: 9;
    min-height: 600px;
    border: 20px solid rgba(204, 204, 204, 0);
    width: 100%;
    box-shadow: -1px 0px 166px rgba(0, 0, 0, 0.31);
    padding: 0;
}


/*--/about-section--*/
/*--are-work-section--*/
.our_work-img-inner{
  position:relative;
}
.our_work-img-inner:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-size: 100% 108%;
    background-position: 100%;
    top: 0;
    bottom: 0;
    background-image: url(../../../inc/assets/images/work_img.png);
}
.our_work-catipon-inner h5 {
   line-height: 1.667;
    color: #515151;
  font-weight: 200;
  font-size: 18px;
  margin-bottom:40px;

}
.our_work-catipon-inner  a:hover,
.our_work-catipon-inner  a:focus {
  text-decoration:none;
  color:var(--main-color)!important;
}
.our_work-catipon-inner p i {
    font-size: 18px;
    padding-right: 10px;
    font-weight: bold;
    color: var(--main-color);
}

/*--/areabout-section--*/


/*--services--*/
.service-content:hover .service-title i,
.service-content:focus .service-title i{
    transform: scale(1.5);
  transition: transform .5s;
}
.service-title i {
    font-weight: bold;
    font-size: 44px;
    padding-right: 11px;
  transition: transform .5s;
}
.tab-content .service-title i {
    font-weight: bold;
    font-size: 44px;
     color: var(--main-color);
    padding-right: 11px;
}
.service-content {
    padding: 10px;
    margin:20px 0;

}
h4.service-title {
    margin-bottom: 15px;
  display:flex;
  line-height: 40px;
}

.service-content:hover .service-title span,
.service-content:focus .service-title span {
    color: var(--main-color);
}
.service-content p {
    color: #a3a3a3;
  font-size:16px;
}
/*--//services--*/
/*--our_portfolio--*/

.gloable_text-cont-inner{
    font-size: 20px;
}
.gallary_d .{
   font-size: 20px;
}
.gallary_d span.label_g {
    min-width: 60px;
    display: inline-block;
    color: #040404;
    font-weight: bold;
}
.gallary_d .container p.mb-3 {
    font-size: 24px;
    color: #888;
    font-style: italic;
}
.gallary_pagination a {
    color: #000;
    display: block;
    font-size: 26px;
}

.our_portfolio {
    padding: 100px 0px;
    /* background-color: var(--main-color); */
    color: #fff;
    background: linear-gradient(126deg, #ffffff 20%, var(--main-color) 10%);
}
.gallery-clm{
  position:relative;
  overflow:hidden;
      transition: 0.5s;
}
.gallery-clm img{
  width:100%;
}
.gallery-cont {
    position: absolute;
  
    display: flex;
    justify-content: center;
    align-items: center;
    height: 0%;
    background: #f9f9f945;
    width: 100%;
  opacity:0;
}

.gallery-clm:hover .gallery-cont,
.gallery-clm:focus .gallery-cont{
  top: 0;
   height: 100%;
  position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
   transition: 0.5s;
    background: #f9f9f945;
    width: 100%;
  opacity:1;
}
.gallery_product {
    padding: 0px!important;
}
.col-sm-6.col-xs-6.float-right {
    padding: 60px!important;
    background: #1f1d35 ;
}

.col-sm-6.col-xs-6.float-right .gallery-clm{
 width: 95%;
}
.portfolio-tabs.nav-pills .nav-link.active,
.portfolio-tabs.nav-pills .nav-link,
 .portfolio-tabs.nav-pills.show>.nav-link {
    border-radius: 42px;
    padding: 7px 20px;
    text-transform: uppercase;
    font-size: 20px;
    color: #fff;
    background-color: transparent;
    transition: 0.5s;
  display:block;
  text-decoration:none;
}

.portfolio-tabs.nav-pills .nav-link:hover,
.portfolio-tabs.nav-pills .nav-link:focus, .portfolio-tabs.nav-pills .nav-link.active{
    border-radius: 42px;
    color: var(--main-color);
  background-color:#fff;
  transition: 0.5s;
  text-decoration:none;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #007bff;
}
.portfolio-tabs li{
  display:inline-block;
  list-style:none;
}

ul.portfolio-tabs.categories {
    display: block;
}

/*--//our_portfolio--*/

/*--our_client--*/
.logo-slider .swiper-wrapper {
    height: auto;
    text-align: center;
}
.logo-slider  .swiper-container {
    height: 100%!important;
}
/*--//our_client--*/

.our-clients {
    padding: 100px 0px;
    /* background-color: var(--main-color); */
    color: #fff;
    background: linear-gradient(54deg, #1f1d35 82%, var(--main-color) 20%);
}

.our-clients .swiper-slide {
    background: #f3f3f308;
    min-height: 250px;
    line-height: 250px;
  transition: 0.5s;
}
.our-clients .swiper-slide:hover ,
.our-clients .swiper-slide:focus {
  background: #fff;
  transition: 0.5s;
}

/*--our-case--*/
.col-md-6.col-cases_img {
    padding: 0;
    border: 1px solid #fff;
  position:relative;
  overflow:hidden;
  
}
.our_work-catipon-inner h1 {
    font-weight: bold;
  margin-bottom:20px;
}
.our-cases {
    padding: 100px 0px;
    /* background-color: var(--main-color); */
    color: #fff;
    background: linear-gradient(131deg, #1f1d35 21%, #fff 20%);
}
.col-md-6.cases-catipon {
    color: #333;
}
.our_work-catipon-inner h2 {
  
  font-size: 45px;
  font-family: MontserratRegular;
  color: rgb( 18, 18, 18 );
  font-weight: bold;
  line-height: 1.067;
    line-height: 1.25;
    text-transform: capitalize;
    padding-bottom: 26px;
    /* margin-bottom: 30px; */
}


/*-//-our-case--*/


/*--our-team--*/
.our-team img{
  width:100%;
}
.our-clients.our-team.clearfix {
    padding: 100px 0px;
    /* background-color: var(--main-color); */
    color: #fff;
    background: linear-gradient(54deg, #1f1d35 82%, #ffffff 20%);
}
.swiper-slide-inner {
  position:relative;
}
.team_mmbr_overlay{
  position:absolute;
  background-color:var(--main-color);
  opacity:0;
  height:0%; 
  bottom:0;
  left:0;
  right:0;
  padding:20px;
  text-align:center;
  transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}
.col-cases_img:hover .team_mmbr_overlay,
.swiper-slide-inner:hover .team_mmbr_overlay,
.col-cases_img:focus .team_mmbr_overlay,
.swiper-slide-inner:focus .team_mmbr_overlay{
  opacity:1;
    top:0;
  height:100%;
  transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}
.team_mmbr_overlay {
    line-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.team_mmbr_overlay a{
  color:#fff;
  font-size:18px;
}
.team_mmbr_overlay a:hover,
.team_mmbr_overlay a:focus{
  color:#fff;
}
/*--//our-team--*/



/*--bzniss_analysis--*/

.bzniss_analysis {
      padding: 100px 0px;
    /* background-color: var(--main-color); */
    color: #fff;
    background: linear-gradient(-54deg,  var(--main-color) 82%,  #1f1d35 20%);
}
.bzniss_analysis .swiper-slide img{
  width:100%;
  border-radius:10px;
}
.bzniss_analysis .swiper-slide{
  border-radius:10px;
  overflow:hidden;
}

iframe.video {
    width: 100%;
    min-height: 420px;
}
.swiper-bzniss_analysis .swiper-pagination{
    position: static;
    margin-top: 60px;
  height:40px;
}

.swiper-bzniss_analysis .swiper-pagination-bullet {
    width: 20px;
  height: 20px;
    background: #ffffff;
  transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}
.swiper-bzniss_analysis .swiper-pagination-bullet-active {
  width: 30px;
  height: 30px;
    opacity: 1;
    background: #ffffff;
  transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

/*--//bzniss_analysis--*/
/*--footer--*/
footer{
  background:#fff;
  color: #9f9f9f;
  position: relative;
  z-index: 99;
}
footer a{
 color: #9f9f9f;
}
.widgets-col ul {
    padding: 0;
}
.widgets-col>h3 {
    text-transform: capitalize;
    display: block;
    font-weight: bold;
    margin-bottom: 24px;
    font-size: 24px;
    letter-spacing: 1px;
    word-spacing: 1px;
    color: #2c2c2c;
    line-height: 40px;
}
.widgets-col>h3 span{
  color:var(--main-color);
}
.widgets-col ul li{
  display:inline-block;
  list-style:none;
  padding: 1px;
}
.widgets-col ul li a {
    line-height: 33px;
    text-decoration: none;
    display: block;

}
.widgets-col ul li a:hover, 
.team_social li a:hover,
.widgets-col ul li a:focus, 
.team_social li a:focus {
    color:var(--main-color);
}
.widgets-col .team_social li {
  margin: 0;
}
.widgets-col .team_social a {
    padding: 6px;
    color: #9f9f9f;
    font-size: 18px;
}
.ft-addres p{
  display:flex;
}
.ft-addres p i {
    font-size: 18px;
  color:#333;    padding-right: 15px;

  
}
.coppy-right.text-center {
    border-top: 1px solid #ccc;
    /* padding: 21px; */
    line-height: 52px;
}

/*--page-tille--*/


.header_banner_page header{
  position:relative;
 height:610px;
}
.hd-bnar{
background-image: url(../images/header-bg.jpg);
  position:fixed;
  top:0;
  left:0;
  bottom:0;
  right:0;
  background-size:cover;
  background-position:center;
  box-shadow:0 0 30px rgba(0, 0, 0, 0.5);
  max-height: 642px;
}
.hd-bnar:after{
  content:'';
  position:absolute;
  background-color:#000000;
  opacity:0.5;
  left:0;
  right:0;
  bottom:0;
  top:0;
  z-index:-1;
  
}
.hd-bnar.bg_2{
  background-image: url(../images/slider/3.jpg)!important;
  
}
.hd-bnar.bg_3{
  background-image: url(../images/slider/4.jpg)!important;
  
}
.hd-bnar.bg_4{
  background-image: url(../images/slider/2d.jpg)!important;
  
}
.main-container{
  position:relative;
  background-color:#ffffff;
  z-index:99;
}
.page-title {
    padding: 40px 20px;
  text-align:center;
}

.page-title h1 {
    font-size: 60px;
    font-weight: bold;
    text-transform: capitalize;
    color: #ffffff;
}

/*--close-page-tille--*/


/*--service-page--*/
.our-services .nav-pills .nav-link.active, .our-services .nav-pills .show>.nav-link {
    color: #ffffff;
    background-color: #007bff;
    color: #ffffff;
    background-color: var(--main-color);
}
.our-services .nav-pills .nav-link {
    border-radius: 0px;
    color: #333333;
    padding: 8px 30px;
    font-size: 20px;
    background-color:#ffffff;
}
.showcase .about-img-inner:after, .showcase  .about-img-inner:before {
    content: '';
    position: absolute;
    width: 60%;
    height: 60%;
  background-color: #1f1d35;
  background: #1f1d35;
  
  
}
/*--showcase--*/
.showcase{
  padding: 100px 0px;
    color: #ffffff;
    background: linear-gradient(126deg, #ffffff 20%, var(--main-color) 10%);
}
.showcase iframe.video.col-md-12 {
    position: relative;
    z-index: 9;
  min-height:600px;
}
.showcase .about-img-inner:after, .showcase .about-img-inner:before {
    z-index: 1;
}
.showcase iframe.video.col-md-12 {
    position: relative;
    z-index: 9;
    min-height: 600px;
    border: 20px solid rgba(204, 204, 204, 0);
    width: 100%;
    box-shadow: -1px 0px 166px rgba(0, 0, 0, 0.31);
    padding: 0;
}
.showcase iframe.video.col-md-12:after{
  content:'';
  position:absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
  background-color:var(--main-color);
  opacity:0.5;
  z-index:99;
}
/*--service-section-fqs-*/
.section_fqs{
  padding: 100px 0px;
    background: linear-gradient(-126deg, var(--main-color) 20%, #ffffff 10%);
}

.accordion-custom_d .card-header {
    border-radius: 50px!important;
    border: 1px solid var(--main-color);
}
.accordion-custom_d .card-header {
    border-radius: 50px;
    margin-bottom: 15px;
    padding: 0;
    overflow: hidden;
}

.accordion-custom_d .card-header .btn.collapsed {
    color: #333333;
    background-color: transparent;
}

.accordion-custom_d .btn-link {
    font-weight: 400;
    padding: 15px;
    background-color: var(--main-color);
    color: #ffffff;
    text-decoration: none;
}
.accordion-custom_d .card-header .btn .fa.main {
    /* background: #007b5e; */
    padding: 13px 11px;
    position: absolute;
    right: 2px;
    top: 10px;
    /* border-top-right-radius: 7px; */
    /* border-bottom-right-radius: 7px; */
}

/***********************************************/
/***************** Accordion ********************/
/***********************************************/
.accordion-custom_d .card-header {
    border-radius: 4px;
  margin-bottom: 15px;
  padding: 0;
  overflow:hidden;
}
.accordion-custom_d .card-header {
    border-radius: 4px!important;
    border:0;
}
.accordion-custom_d .btn-link {
    font-weight: 400;
    padding: 15px;
    background-color: var(--main-color);
  color:#ffffff;
  text-decoration:none;
  border-radius:0;
}
button.btn.btn-link.btn-block:hover ,
button.btn.btn-link.btn-block:focus {
    text-decoration: none!important;
    background-color: var(--main-color);
}

.accordion-custom_d .btn.collapsed:hover,
.accordion-custom_d .btn.collapsed:focus{
    background-color: var(--main-color)!important;
}
.accordion-custom_d .card {
    border: 0;
}
.accordion-custom_d .btn-link:hover,
.accordion-custom_d .btn-link:focus {
    color: #ffffff!important;
}
.accordion-custom_d .card-header .btn.collapsed {
    color: #ffffff;
    background-color: #1f1d35;
}
.card-header .btn.collapsed .fa.main:after{
  content: "\f35b"!important;
}
.accordion-custom_d .card-header .btn .fa.main:after{
    content: "\f358";
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    font-size: 24px;
    padding-right: 0.5em;
    position: relative;
    right: 1px;
}

.accordion-custom_d .card-header .btn .fa.main {
    padding: 13px 11px;
    position: absolute;
    right: -3px;
    top: 4px;
    font-size: 20px;
}

.helping-area-cont h1.section-title {
    text-transform: inherit;
    font-size: 42px;
}
/*--//service-section-fqs-*/
/*--//service-page--*/
/*--mini_subscribe--*/
.mini_subscribe{
  padding:60px 15px;
  color:#fff;
}
.mini_subscribe-cont h1 {
    font-weight: bold;
    margin-bottom: 14px;
    font-size: 38px;
}

.mini_subscribe-cont p {
    font-size: 24px;
    letter-spacing: 1px;
}
.bg-color-hidn{
  
    background: none!important;
}
.gallary_d .gallery-clm:hover .gallery-cont,
.gallary_d .gallery-clm:focus .gallery-cont {
    background: rgba(238, 74, 23, 0.5294117647058824);
}
  
}
/*--//mini_subscribe--*/
/*--blog-pages--*/
h2.screen-reader-text {
    display: none!important;
}
.wl-theme-pagination a.page-numbers {
    color: #FF5722;
    border: 1px solid #aeaeae;
    padding: 16px;
    border-radius: 31px;
    text-decoration: none;
    font-size: 17px;
}
.wl-theme-pagination a.page-numbers:hover,
.wl-theme-pagination a.page-numbers:focus {
    color: #fff;
    background: #FF5722;
    border: 1px solid #FF5722;
    padding: 16px;
    border-radius: 31px;
    text-decoration: none;
    font-size: 17px;
}
.wl-theme-pagination span.page-numbers.current {
    color: #fff;
    background: #FF5722;
    border: 1px solid #FF5722;
    padding: 16px;
    border-radius: 31px;
    text-decoration: none;
    font-size: 17px;
}
.navigation.pagination h2.screen-reader-text {
    display: none!important;
}
.wl-theme-pagination .nav-links {
    width: 100%;
}
.blog_article-text {
    width: 92%;
    padding-left: 10px;
}

.blog_article-text {
    width: 92%;
    padding-left: 10px;
}

.blog_article p {
    color: #343333;
    line-height: 30px;
    font-weight: bold;
}
.blog_article i.fas.fa-quote-left {
    color: var(--main-color);
    font-size: 40px;
}

.post-socil-share .team_social {
    float: right;
}
ul.team_social {
    padding: 0;
}
.post-socil-share .team_social li {
    padding: 2px;
    margin: 3px;
}
.team_social li a i{
  transition: transform .5s; 
}

.team_social li a i:hover,
.team_social li a i:focus{
  transform: scale(1.5);
  transition: transform .5s; 
}
.team_social li {
    display: inline-block;
    padding: 15px;
    margin: 5px;
}

.post-socil-share .team_social li a {
    color: #919191;
}

.team_social a {
    color: #9b9b9b;
    font-size: 28px;
    text-decoration: none;
}
.post-socil-share .team_social li a:hover,
.post-socil-share .team_social li a:focus {
    color: var(--main-color);
}
.blog-post p {
    color: #747070;
    line-height: 28px;
}
.blog-post-cnt h1 {
    font-weight: bold;
  text-transform: capitalize;
}
.blog-post-cnt h1 a {
  color:#000;
  text-decoration: none;
}
p.post_date span {
    color: var(--main-color);
}
p.post_date span a {
    color: var(--main-color);
}
.blog-post.row {
    box-shadow: 0px 0px 61px #dedddd;
    padding: 20px;
    padding-left: 14px;
}
.blog-post_tag a {
    margin: 3px;
    color: #333333;
}
/*--comment-section--*/
.comment_detail {
    margin-bottom: 50px;
}

.reply .btn.main-btn {
    font-size: 14px;
    border:1px solid #333333;
    background-color: #fff!impoirtant;
    width: 79px;
    height: 30px;
    color: rgb( 30, 30, 39 );
    box-shadow: none;
    padding: 0;
    border-radius: 40px;
    text-transform: uppercase;
    line-height: 26px;
  margin-right: 7px;
  background-color:#fff;
}
.reply .btn.main-btn:hover,
.reply .btn.main-btn:focus{
  color:#fff;
  background-color: var(--main-color);
}
.comment_detail {
    margin-bottom: 50px;
  border-left: 1px solid #e3e1e1;
    padding-left: 30px;
    margin-left: 30px;
}
a.pull_left_comment {
    border-radius: 100%;
    overflow: hidden;
    border: 1px solid #ccc;
    background: #dfdfdf;
}

h4.comment_detail_title {
    font-size: 20px;
    padding: 6px 0px;
}
.comment_form .form-control {
    border-radius: 53px;
    padding: 4px 25px;

}
.comment_form .form-control:hover,
.comment_form .form-control:focus{
  box-shadow: 0px 0px 2px #ccc;
}
.comment_form input.form-control {
    height: 54px;
}
.comment_form textarea.form-control {
    min-height: 120px;
  border-radius: 40px;
  padding-top:20px;
}

.comment-section {
    border-top: 1px solid #e7e7e7;
    margin-top: 40px;
    padding-top: 60px;
}

.comment-section .about-text a.btn.main-btn {
  font-size: 16px;
  color: rgb( 255, 255, 255 );
  padding: 12px 30px;
  text-transform: uppercase;
  line-height: 1.313;
    text-transform: uppercase;
  width: 201px;
  height: 47px;
  background-image: -moz-linear-gradient( -159deg, rgb(131,104,255) 0%, rgb(85,78,138) 100%);

}
.comment_form .form-submit input#wl_comment_button {
    font-size: 16px;
    padding: 12px 30px;
    text-transform: uppercase;
    line-height: 1.313;
    text-transform: uppercase;
    width: 201px;
    height: 47px;
}
span.comment_date {
    color: #a6a6a6;
  transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}
.blog-post-img:hover  img,
.blog-post-img:focus  img {
    filter: blur(2px);
  transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}
.margin-m-100 {
    border-radius: 5px;
    background: #fff;
  position: relative;
    z-index: 999;
    top: -100px;
  z-index:999;
}


/*--//blog-pages--*/


/*--contact-pages--*/
.page-contactus .bzniss_analysis{
  background: linear-gradient(-54deg, var(--main-color) 82%, #fff 20%);
}
.page-contactus a.btn.main-btn{
    text-transform: uppercase;
  box-shadow:none;
}
.contactus_form>h1 {
  font-size: 36px;
  font-family:MontserratRegular;
  font-weight:800;
    text-transform: capitalize;
}
.contactus_form>h1 span {
    color: var(--main-color);
    font-style: italic;
  font-family:MontserratLight!important;
    font-weight: 100!important;
    /* display: block; */
}
.about-cont-inner h4 {
    font-style: italic;
    font-weight: 400;
}
.contactus_form p {
    color: #bfbfbf;
    font-weight: 200!important;
    line-height: 25px;
    font-style: italic;
}
.contactus_form input.form-control {
    height: 50px;
    margin-top: 8px;
}
.contactus_form .form-control:hover,
.contactus_form .form-control:focus{
  border-color:var(--main-color);
}
.cont-map  iframe {
    height: 680px;
  margin:0px!important;
  width:100%;
  border:0;
}
.cont-map{
    padding: 0!important;
}
.ont-map{
  width:100%;
  height:450;
  border:0px;
}
/*--//contact-pages--*/

/*GALLARY  p:nth-of-type(4n) {*/
.gallery_product.col-lg-3.col-md-3.isotope-item:{
    transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

/* .gallery_product:nth-of-type(3n) {
  padding:40px!important;
    max-width: 49.99%!important;
     background-color: #1f1d35!important;
} */

.isotope-item {
    z-index: 1;
}

.isotope-hidden.isotope-item {
    z-index: 1;
}

.isotope, .isotope .isotope-item {
    /* change duration value to whatever you like */
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    transition-duration: 0.8s;
}

.isotope-item {
    margin-right: -1px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.isotope {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    transition-property: height, width;
}

.isotope .isotope-item {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    transition-property: transform, opacity;
}


/*--gallery-details--*/
.gallary_d .gallery_product {
    padding: 10px!important;
}
span.label_g {

    text-transform: uppercase;
}
span.label_g {
    min-width: 60px;
    display: inline-block;
    color: #a19d9d;
}

.gallary_pagination a{
  color:#222;
  display:block;
  
}
.gallary_pagination a i {
    color: #888;
    font-size: 40px;
}

.gallary_pagination a:hover,
.gallary_pagination a:focus{
  color:var(--main-color);
  text-decoration:none;
}

/*---gallery-details---*/

/*--about--*/
.about-cont-inner{
    padding-left: 30px;
    border-left: 4px solid var(--main-color);
}
.about-cont-inner h2 {
    font-weight: bold;
    font-size: 34px!important;
}

.our-values {
    padding: 100px 0px;
    /* background-color: var(--main-color); */
    color: #fff;
  background: linear-gradient(54deg, #1f1d35 82%, #ffffff 20%);
}

.what-we-do{
    padding: 100px 0px;
    background: linear-gradient(126deg, #1f1d35 20%, #ffffff 10%);
}

/*--//about--*/
/*--our-testimonial--*/

.our-testimonial {
  padding: 100px 0px;
  background: linear-gradient(126deg, #1f1d35 20%, #ffffff 10%);
}
.our-testimonial i.fas.fa-quote-right {
    display: block;
    text-align: right;
}
.our-testimonial i.fas {
    font-size: 50px;
  color:#cccccc;
}

.our-testimonial .our_work-catipon-inner h5 {
    margin-top: 40px;
   font-size: 24px;
  color: rgb( 135, 136, 137 );
  font-style: italic;
  line-height: 1.25;
  text-align: left;
}




.our-testimonial .swiper-pagination-bullet-active {
    width: 30px!important;
    height: 30px!important;
    opacity: 1;
    background: #333333;
    transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

.our-testimonial .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    background: #333333;
    transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

.our-testimonial .swiper-pagination {
    position: static;
    margin-top: 40px;
    height: 40px;
    max-width: 50%;
    /* text-align: left; */
}
/*--//our-testimonial--*/


/*--progress--*/

.textbox {
  height: 700px;
}

.progress {
  margin-bottom: 10px;
}

.progress-bar {
  width: 0;
}

.progress-ba-cont .progress-bar{
  background-color:var(--main-color)!important;
}
.progress-ba-cont .progress {
    margin-bottom:40px;
   height: 20px;
   border-radius: 0.90rem;
}


/*--//progress--*/



/*--about-our-team--*/
.about-page .our-team {
    padding: 100px 0px;
    /* background-color: var(--main-color); */
    color: #fff;
    background: linear-gradient(54deg, #1f1d35 82%, #ffffff 20%);
}

.blog-slider {
    position: relative;
    margin: auto;
    /* background: #fff; */
    background: linear-gradient(90deg, #ffffff 80%, #ffffff00 10%);
    box-shadow: 0px 14px 80px rgb(34, 35, 58);
    /* border-radius: 25px; */
    transition: all .3s;
}

@media screen and (max-width: 992px) {
  .blog-slider {
    max-width: 680px;
    height: 400px;
  }
}
@media screen and (max-width: 768px) {
  .blog-slider {
    min-height: 500px;
    height: auto;
  }
}

.blog-slider__item {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .blog-slider__item {
    flex-direction: column;
  }
}
.blog-slider__item.swiper-slide-active .blog-slider__img img {
  opacity: 1;
  transition-delay: .3s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > * {
  opacity: 1;
  transform: none;
}

.blog-slider__img {
    flex-shrink: 0;
    background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
    box-shadow: 4px 13px 30px 1px rgba(252, 56, 56, 0.2);
    border-radius: 20px;
    transform: translateX(0px);
    overflow: hidden;
}
.blog-slider__img:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
  border-radius: 20px;
  opacity: 0.7;
}
.blog-slider__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  opacity: 0;
  border-radius: 20px;
  transition: all .3s;
}

.blog-slider__content {
  padding-right: 25px;
}

.blog-slider__content > * {
  opacity: 0;
  transform: translateY(25px);
  transition: all .4s;
}
.blog-slider__code {
  color: #7b7992;
  margin: 26px 0px;
  display: block;
  font-weight: 500;
  font-size: 24px;
  display: block;
  font-style: italic;
}


.blog-slider__title {
  font-size: 46px;
  font-weight: 700;
  color: #0d0925;

}
.blog-slider__text {
  color: #4e4a67;
  padding-top: 20px;
  margin: 30px 0;
  line-height: 1.5em;
}
.blog-slider__button {
height:60px;
  background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
  padding: 15px 35px;
  border-radius: 50px;
  color: #fff;
  box-shadow: 0px 14px 80px rgba(252, 56, 56, 0.4);
  text-decoration: none;
  font-weight: 500;
  justify-content: center;
  text-align: center;
  letter-spacing: 1px;
}

.blog-slider .swiper-container-horizontal > .swiper-pagination-bullets, .blog-slider .swiper-pagination-custom, .blog-slider .swiper-pagination-fraction {
  bottom: 10px;
  left: 0;
  width: 100%;
}
.blog-slider__pagination {
    position: absolute;
    z-index: 21;
    right: 0px;
    width: 11px !important;
    text-align: center;
    left: 15px!important;
    top: 50%;
    bottom: auto !important;
    transform: translateY(-50%);
}

.blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 8px 0;
}
@media screen and (max-width: 768px) {
  .blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 5px;
  }
}
.blog-slider__pagination .swiper-pagination-bullet {
  width: 11px;
  height: 11px;
  display: block;
  border-radius: 10px;
  background: #062744;
  opacity: 0.2;
  transition: all .3s;
}
.blog-slider__pagination .swiper-pagination-bullet-active {
  opacity: 1;
  background: #fd3838;
  height: 30px;
  box-shadow: 0px 0px 20px rgba(252, 56, 56, 0.3);
}
@media screen and (max-width: 768px) {
  .blog-slider__pagination .swiper-pagination-bullet-active {
    height: 11px;
    width: 15px;
  }
.blog-slider__title {
    font-size: 34px;
}

}


.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(2) {
    transition-delay: 0.4s;
    line-height: 0;
}

.our-clients .swiper-slide {
    background: #f3f3f308;
    min-height: 250px;
    line-height: 250px;
    transition: 0.5s;
}

.blog-slider__item.swiper-slide {
    padding: 40px;
}

.blog-slider__item  .team_social li {
    display: inline-block;
    padding: 8px;
    font-size: 24px;
    margin: 5px;
}

.blog-slider__img.col-md-4 {
    margin: 0;
    padding: 0;
}
/*--//about-our-team--*/


.search_box.collapse.show{
  transform: scaleY(0.01) scaleX(0);

}
.search_box.collapse.show {
  transform: scale(0);
  animation: zoomIn 0.1s 0.2s cubic-bezier(0.165, 0.84, 0.44, 1) forwards!important;
}
.search_box.collapse{
  transform: scale(1);
  animation: unfoldOut 1s 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
.search_box.collapse {
  animation: zoomOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards!important;
}

.search_box {
    position: fixed;
    /* width: 100%; */
    right: 0;
    left: 0;
  top:0%;
  z-index:99;
  transform: scale(0);
}

.search_box .form-control-borderless {
    border: none;
}

.search_box .form-control-borderless:hover, 
.search_box .form-control-borderless:active, 
.search_box .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}


.search_box input.form-control.form-control-lg.form-control-borderless {
    margin: 0px 20px;
}

/*--btn-bottom--to-top--*/
#return-to-top {
    position: fixed;
    bottom: 20px;
  background-color:#fff;
    right: 20px;
  z-index:999999;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
transition: all .5s;
}
#return-to-top i {
    color: #f45f47;
    margin: 0;
    position: relative;
    left: 0px;
    top: 0px;
    font-size: 54px;
transition: all .5s;
}

/*--page-loader-css--*/

#page-anim-preloader{
  display:block;
position: fixed;
top: 0;
left: 0;
right: 0;
bottom: 0;
z-index: 999;
width:100%;
height:100%; 
transition: all .5s;

  
}
#page-anim-preloader   img{
  
  max-width:200px;
}
.page_preloader-inner{
  position:relative;
  z-index:999999;
}
#page-anim-preloader:after{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content:''; background: linear-gradient(to right,#0acffe 0,#495aff 100%); 

  z-index:;
  width:100%;
  height:100%;

  opacity:0.5;
}
/*--page-loader-css--*/


.search_form a {
    color: #fff;
    font-size: 22px;
    padding: 5px 10px;
}
.search_form:hover a,
.search_form:focus a{
  color:var(--main-color);
}
.search_form{
    border-radius: 50px;
    height: 40px;
    display: flex;
    position: relative;
}
.select_lng {
    display: flex;
}
.search-hover {
    outline: none;
    background: transparent;
    border: 0;
    height: 40px;
    position: absolute;
    z-index: 9999;
    width: 0px;
    right: 40px;
    float: right;
  border-radius: 50px;
    transition: all .5s;
    background: white;
}
.search_form:hover{
}
.search_form:hover .search-hover,
.search_form:focus .search-hover{
  width: 200px;
  padding: 3px 15px;
  
}

.margin-m-100.p-5.pb-0 {
    box-shadow: 8px 6px 163px rgba(120, 120, 120, 0.47843137254901963);
}
.blog-post.margin-m-100.p-4.row {
    box-shadow: none;
}


/*--btn-effct--*/
#return-to-top:before,
.effct-btn:before {
   content: '';
   border: 5px solid;
   border-color: inherit;
   width: 150%;
   height: 150%;
   -webkit-border-radius: 50%;
   border-radius: 50%;
   border-color: var(--main-color);
   position: absolute;
   left: -25%;
   top: -25%;
   opacity: 1;
   -webkit-animation: 1s videomodule-anim linear infinite;
   animation: 1s videomodule-anim linear infinite;
}
#return-to-top:after,
.effct-btn:after{
   content: '';
   border: 10px solid;
   border-color: inherit;
   width: 150%;
   height: 150%;
   -webkit-border-radius: 50%;
   border-radius: 50%;
   border-color:var(--main-color);
   position: absolute;
   left: -25%;
   top: -25%;
   opacity: 1;
   -webkit-animation: 1s videomodule-anim linear infinite;
   animation: 1s videomodule-anim linear infinite;
}
.effct-btn, .return-to-top{
   display: inline-block;

   color: #fff;
   background: #0F7BFF;
   border-radius: 50%;
   font-size: 30px;
   line-height: 50px;
   -webkit-transition: all .4s ease;
   -o-transition: all .4s ease;
   transition: all .4s ease;
   position: relative;
}
@-webkit-keyframes videomodule-anim {
 0% {
   -webkit-transform: scale(0.68);
   transform: scale(0.68); }
 100% {
   -webkit-transform: scale(1.2);
   transform: scale(1.2);
   opacity: 0; } 
    }
/*--btn-effct--*/
button.btn.btn-link.btn-block{
    text-decoration: none;
}
#page-anim-preloader{
  display:none!important;
  
}

/*-----------------------------------------------
  blog-sidebar
-----------------------------------------------*/
.cat-item a {
    border: 1px solid transparent;
    padding: 8px 15px;
    display: block;
    border-radius: 40px;
    margin-bottom: 12px;
    min-height: 40px;
    text-decoration: none;
    transition: 0.5s;
  border: none!important;
}
.cat-item {
    list-style: none;
}
.sidebar ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.cat-item a {
  border: 1px solid transparent;
    padding: 8px 15px;
    display: block;
    border-radius: 40px;
    margin-bottom: 12px;
    min-height: 40px;
    text-decoration: none;
  transition: 0.5s;

}
.cat-item a:hover,
.cat-item a:focus{
    color: var(--main-color);
  border: 1px solid var(--main-color);
  transition: 0.5s;
}
h4.widgets-title {
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
    margin-bottom: 40px;
}


.blog-sidebar-widgets  li a i.fas.fa-circle {
    margin-right: 15px;
    border: 3px solid #9d9b9b;
    color: transparent;
    border-radius: 100%;
    font-size: 13px;
  transition: 0.5s;

}
.blog-sidebar-widgets  li a:hover i.fas.fa-circle,
.blog-sidebar-widgets  li a:focus i.fas.fa-circle {
    margin-right: 15px;
    border: 3px solid var(--main-color);
    color: var(--main-color);
  background: var(--main-color);
    border-radius: 100%;
    font-size: 13px;
  transition: 0.5s;

}

.blog-sidebar-widgets li a {
    color: #333;
    display: block;
    text-decoration: none;
    margin-bottom: 5px;
  transition: 0.5s;
}
.post-date{
  color: #9e9e9e;
}
.blog-sidebar-widgets li a:hover,
.blog-sidebar-widgets li a:focus{
  color: var(--main-color);
  padding-left:6px;
  transition: 0.5s;
}
.sidebar-post-img {
    max-width: 100px;
    max-height: 80px;
    margin-right: 21px;
    overflow: hidden;
}

.sidebar-post h4 {
    font-size: 17px;
}
.sidebar-post p {
    padding: 0;
    margin: 4px 0px;
}
.sidebar-post p span {
    color: #afa9a9;
}
.media.sidebar-post {
    margin-bottom: 22px;
}
.blog-sidebar-widgets a.btn.main-btn {
    width: 133px;
    line-height: 12px;
    text-transform: uppercase;
  margin-top:20px;
}

.tags-blog-sidebar ul{
  margin:0;
  padding:0;
}
.tags-blog-sidebar li {
    list-style: none;
}
.tags-blog-sidebar li {
    list-style: none;
    padding: 5px 10px;
  border: 1px solid transparent;
    border-radius: 50px;
    margin: 0px;
}
.tags-blog-sidebar li:hover,
.tags-blog-sidebar li:focus{
  border: 1px solid var(--main-color);
  color:var(--main-color);
  transition: 0.5s;
}
.tags-blog-sidebar li a {
    color:var(--main-color);
  text-decoration:none;
  transition: 0.5s;
}

.blog-sidebar-widgets {
  display: grid;
    margin-bottom: 40px;
    background-color: #f2f2f200;
    padding: 40px 20px;
    box-shadow: -1px 1px 20px 6px rgba(204, 204, 204, 0.5215686274509804);
}

 a.tag-cloud-link {
    display: inline-block;
    padding: 8px;
    font-size: 14px;
    text-decoration: none;
    text-transform: capitalize;
    color: var(--main-color);
  transition: 0.5s;
}
 a.tag-cloud-link:hover,
 a.tag-cloud-link:focus{
  background-color: var(--main-color);
  transition: 0.5s;
  color:#fff;
}
.gallery-item {
    width: 32%;
  
    padding: 0px 6px!important;
    margin: 0px 0px!important;
    overflow: hidden;
    position: relative;
    display: inline-block;
    margin-bottom: 4px;
    transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}
.gallery-item img{
  width:100%!important;
  height:100%!important;
}
.gallery-item:hover img,
.gallery-item:focus img {
    filter: blur(2px);
    transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}
/*-----------------------------------------------
  calendar
-----------------------------------------------*/
#wp-calendar {
  text-align: center;
  border: 1px solid var(--main-color);
}

#wp-calendar caption {
    color: #ffffff;
    text-align: center;
    background: #f46149;
}
#wp-calendar td {
    padding: 10px;
    border-left: 1px solid var(--main-color);
   -webkit-transition: all .4s ease;
   -moz-transition: all .4s ease;
   -o-transition: all .4s ease;
   transition: all .4s ease;
}
#wp-calendar a {
    color: var(--main-color);
}
#wp-calendar th {
  background-color: var(--main-color);
    color: #fff;
  padding: 10px 15px;
    text-align: center;
    border-left: 1px solid  var(--main-color);
   -webkit-transition: all .4s ease;
   -moz-transition: all .4s ease;
   -o-transition: all .4s ease;
   transition: all .4s ease;
}
#wp-calendar td:hover, 
#wp-calendar th:hover,
#wp-calendar td:focus, 
#wp-calendar th:focus{
    background: var(--main-bg);
    color: #333;
   -webkit-transition: all .4s ease;
   -moz-transition: all .4s ease;
   -o-transition: all .4s ease;
   transition: all .4s ease;
}

#wp-calendar tbody tr{
  border: 1px solid var(--main-color);
    padding: 5px;
}
.sidebar-widget select{
    width: 100%;
    height: 40px;
    margin-top: 15px;
    border: 1px solid #eaeaea;
}
.sidebar .searchform #s{
  width:78%;
    border: 1px solid var(--main-color);
  padding:5px 10px;
}
.searchform input{
  height:46px;
}
input#searchsubmit {
    background: var(--main-color);
    border: 0;
    padding: 10px;
    color: #fff;
}
.tagcloud a {
    font-size: 14px!important;
    text-transform: capitalize;
  padding:6px;
}
/*-----------------------------------------------
  Search Box
-----------------------------------------------*/

.search_box.collapse.show{
  transform: scaleY(0.01) scaleX(0);

}
.search_box.collapse.show {
  transform: scale(0);
  animation: zoomIn 0.1s 0.2s cubic-bezier(0.165, 0.84, 0.44, 1) forwards!important;
}
.search_box.collapse{
  transform: scale(1);
  animation: unfoldOut 1s 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
.search_box.collapse {
  animation: zoomOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards!important;
}
.search_box {
  position: fixed;
  right: 0;
  left: 0;
  top:0%;
  z-index:99;
  transform: scale(0);
}

.search_box .form-control-borderless {
    border: none;
}

.search_box .form-control-borderless:hover, 
.search_box .form-control-borderless:active, 
.search_box .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}
.search_box input.form-control.form-control-lg.form-control-borderless {
    margin: 0px 20px;
}
/*-----------------------------------------------
  Return To top btn
-----------------------------------------------*/
#return-to-top {
    position: fixed;
    bottom: 20px;
  background-color:#fff;
    right: 20px;
  z-index:999999;
    display: block!important;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
transition: all .5s;
}
#return-to-top i {
    color: #f45f47;
    margin: 0;
    position: relative;
    left: 0px;
    top: 0px;
    font-size: 54px;
transition: all .5s;
}

/*-----------------------------------------------
  Page loader
-----------------------------------------------*/

#circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  width: 150px;
    height: 150px;  
}

.loader {
    width: calc(100% - 0px);
  height: calc(100% - 0px);
  border: 8px solid #162534;
  border-top: 8px solid #09f;
  border-radius: 50%;
  animation: rotate 5s linear infinite;
}

@keyframes rotate {
100% {transform: rotate(360deg);}
} 
#page-anim-preloader{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  width:100%;
  height:100%!important; 
  transition: all .9s;
}

#page-anim-preloader img{
  max-width:200px;
}
.page_preloader-inner{
  position:relative;
  z-index:999999;
}
#page-anim-preloader:after{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content:''; 
/* background: linear-gradient(to right,#0acffe 0,#495aff 100%);  */
 background: #0d161f;
  z-index:;
  width:100%;
  height:100%;

}
/*-----------------------------------------------
  Search Form
-----------------------------------------------*/
.search_form a {
    color: #fff;
    font-size: 22px;
    padding: 5px 10px;
}
.search_form:hover a,
.search_form:focus a{
  color:var(--main-color);
}
.search_form{
    border-radius: 50px;
    height: 40px;
    display: flex;
    position: relative;
}
.select_lng {
    display: flex;
}
.search-hover {
    outline: none;
    background: transparent;
    border: 0;
    height: 40px;
    position: absolute;
    z-index: 9999;
    width: 0px;
    right: 40px;
    float: right;
  border-radius: 50px;
    transition: all .5s;
    background: white;
}
.search_form:hover{
}
.search_form:hover .search-hover,
.search_form:focus .search-hover{
  width: 200px;
  padding: 3px 15px;
  
}

.margin-m-100.p-5.pb-0 {
    box-shadow: 8px 6px 163px rgba(120, 120, 120, 0.47843137254901963);
}
.blog-post.margin-m-100.p-4.row {
    box-shadow: none;
}

/*-----------------------------------------------
  Btn Effcs
-----------------------------------------------*/
#return-to-top:before,
.effct-btn:before {
   content: '';
   border: 5px solid;
   border-color: inherit;
   width: 150%;
   height: 150%;
   -webkit-border-radius: 50%;
   border-radius: 50%;
   border-color: var(--main-color);
   position: absolute;
   left: -25%;
   top: -25%;
   opacity: 1;
   -webkit-animation: 1s videomodule-anim linear infinite;
   animation: 1s videomodule-anim linear infinite;
}
#return-to-top:after,
.effct-btn:after{
   content: '';
   border: 10px solid;
   border-color: inherit;
   width: 150%;
   height: 150%;
   -webkit-border-radius: 50%;
   border-radius: 50%;
   border-color:var(--main-color);
   position: absolute;
   left: -25%;
   top: -25%;
   opacity: 1;
   -webkit-animation: 1s videomodule-anim linear infinite;
   animation: 1s videomodule-anim linear infinite;
}
.effct-btn, .return-to-top{
   display: inline-block;
   color: #fff;
   background: #0F7BFF;
   border-radius: 50%;
   font-size: 30px;
   line-height: 50px;
   -webkit-transition: all .4s ease;
   -o-transition: all .4s ease;
   transition: all .4s ease;
   position: relative;
}
@-webkit-keyframes videomodule-anim {
 0% {
   -webkit-transform: scale(0.68);
   transform: scale(0.68); }
 100% {
   -webkit-transform: scale(1.2);
   transform: scale(1.2);
   opacity: 0; } 
    }
button.btn.btn-link.btn-block{
    text-decoration: none;
}
/*------------------------------------------
  shortcode page
-------------------------------------------*/
.bd-title{
  position:relative;
}

.bd-title:after {
    content: '';
    height: 4px;
    width: 120px;
    background-color: var(--main-color);
    position: absolute;
    bottom: 0;
    left: 0;
}

.bd-title {
    position: relative;
    padding-bottom: 12px;
    margin-bottom: 40px;
}

.progress {
    height:26px!important;
}
.counter{
    background-color: #eaecf0;
    text-align: center;
}
.employees,.customer,.design,.order
{
    margin-top: 70px;
    margin-bottom: 70px;
}

/*----------------------------------------------
  counter-count
----------------------------------------------*/
.counter-count{
   font-size: 22px;
   font-weight:bold;
  background-color: var(--main-color);
    border-radius: 50%;
    position: relative;
    color: #ffffff;
    text-align: center;
    line-height: 92px;
    width: 92px;
    height: 92px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: inline-block;
}

.employee-p,.customer-p,.order-p,.design-p{
    font-size: 24px;
    color: #000000;
    line-height: 34px;
}

.firstcharacter {
    color: var(--main-color);
    float: left;
    font-size: 60px;
    line-height: 38px;
    margin-right: 8px;
    display: block;
    padding: 6px!important;
}
.drop2  {
  background-color: var(--main-color);
  color:#fff;
}

.drop3  {
  background-color: var(--main-color);
  color:#fff;
  border-radius:100%;
}


.navbar-containernt p {
    display:block;
    color: #fff;
    position:absolute;
    float: none;
}

/*--footer-weight--*/
.footer-widgets ul li{
    display: block;
    text-transform: capitalize;
    padding: 0px;
  border-bottom:1px solid #e4e4e4;
}
.footer-widgets ul li a  {
  padding:10px;
  position:relative;
}

.footer-widgets ul li a:after{
  content:'';
  position:absolute;
  width:10px;
  height:1px;
  background-color:var(--main-color);
  bottom:0;
  left:0px;
   -webkit-transition: all .4s ease;
   -o-transition: all .4s ease;
   transition: all .4s ease;
}
.footer-widgets ul li:hover a:after,
.footer-widgets ul li:focus a:after{
  width:100px;
   -webkit-transition: all .4s ease;
   -o-transition: all .4s ease;
   transition: all .4s ease;
}
.footer-widgets ul li.cat-item  a {
  margin: 0;
}

.widgets-col input#s,
.sidebar input#s {
    width: 80%;
  border-radius:0px;
}

.widgets-col{
  margin:20px 0px;
}

.gallery_slider figcaption {
    position: absolute;
    left: 0;
    right: 0;
    top: 0px;
    padding: 10%;
    bottom: 0;
    text-align: center;
    background: rgba(255, 255, 255, 0.56);
    opacity: 0;
}
.gallery_slider figure {
    position: relative;
}
.gallery_slider figcaption:hover,
.gallery_slider figcaption:focus {
    opacity: 1;
}

.gallery_slider figcaption h4 {
    color: #f45f47;
    text-transform: capitalize;
    margin-bottom: 20px;
    margin-top: 11px;
}
.gallery_slider a.btn.main-btn {
    padding: 7px 13px;
    text-transform: capitalize;
}

/* Menu css */

a.nav-link i.caret {
   margin-left: 10px;
   display: block;
   content: " ";
   float: right;
   width: 0;
   height: 0;
   border-color: #b91c1c00;
   border-style: solid;
   border-width: 5px 6px 6px 5px;
   border-top-color: #ccc;
   margin-top: 13px;
}

@media (min-width: 992px) {
.navbar-nav  li.dropdown:hover>ul.dropdown-menu ,
.navbar-nav .dropdown:focus-within > .dropdown-menu,
.navbar-nav .dropdown-submenu:hover>.dropdown-menu, 
.navbar-nav .dropdown-submenu a:focus + .dropdown-menu, 
.navbar-nav .dropdown-submenu:focus-within > .dropdown-menu,
.navbar-nav  li.dropdown a:focus + ul.dropdown-menu {
   display: block!important;
   position: absolute;
  visibility: visible;
    opacity: 1;
    padding: 0;
   margin: 0;
    border-radius:0;
}
.dropdown-submenu:hover>.dropdown-menu,
.dropdown-submenu:focus>.dropdown-menu{
    display: block!important;
    padding: 0;
   margin: 0;
    border-radius:0;
}
  }
@media (max-width: 991px) {
i.caret, .dropdown-submenu .caret {
   z-index: 999999;
   margin-left: 10px;
   display: block;
   content: " ";
   float: right;
   width: 0;
   height: 0;
   right: 10px;
   border-color: #b91c1c00;
   border-style: solid;
   border-width: 5px 6px 6px 5px;
   border-top-color: #ccc;
   margin-top: 13px;
}
}
@media (max-width: 1024px){
i.caret, .dropdown-submenu .caret {
   z-index: 999999;
   margin-left: 10px;
   display: block;
   content: " ";
   float: right;
   width: 0;
   height: 0;
   right: 10px;
   border-color: #b91c1c00;
   border-style: solid;
   border-width: 5px 6px 6px 5px;
   border-top-color: #ccc;
   margin-top: 13px;
}
}

.widget_categories li, .widget_archive li{
    text-align: right;
    position: relative;
    text-transform: capitalize;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    overflow: hidden;
}
.widget_categories li a, .widget_archive li a {
    float: left;
    clear: both;
}
.widget_archive select,.widget_categories select{
    width: 100%;
    border: 1px solid #9c9a9a;
    padding: 10px;
}
*{
  word-wrap: break-word;
}
a:focus {
  outline: thin dotted;
}
.wp-image-907{
  width: 100%;
}